body {
    margin: 16pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    body {
        padding: 8px 32px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    /* vertical-align: top; */
}

p.check-text {
  display: inline-block;
  /* width: 200px; */
  word-break: break-all; 
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 12pt;
}

.content {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(0, 110, 255, 0.1);
    color: rgb(0, 110, 255);
    border-radius: 12pt;
}

.word {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    color: rgb(0, 110, 255);
    border-radius: 10pt;
}

a.primary {
    text-align: center;
    display: block;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12pt;
    text-decoration: none;
}

a.secondary {
    text-align: center;
    display: block;
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* unvisited link */
a:link,
a:active {
    text-align: center;
    display: block;
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited,
a:hover {
    text-align: center;
    display: block;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
}
